body {
    /* background:#E9FCFF; */
    margin:0;
    grid-template-columns: auto;
    grid-template-rows: auto 60% 40%;
}

a {
    text-decoration:none;
    color:#E9FCFF;
    font-size:1.8em;
    font-weight:700;
}

header {
    background:#68B4EE;
    padding: 1em;
}

.kontainer {
    display:grid;
    grid-template-columns: 15% 70% auto;
    padding: 2em 2em;
}

.dasbor {
    display:grid;
    grid-template-columns: 15% 70% auto;
    padding: 1em 2em;
    justify-self: center;
}

.konten {
    display:grid;
    grid-template-columns: 10% 75% auto;
    padding: 1em 2em;
    justify-self: center;
}

.kontentengah {
    display:grid;
    grid-template-columns:35% 5% 50% auto;
    padding: 1em 2em;
    justify-self: center;
}

.kontenbawah {
    display:grid;
    grid-template-columns: 85% auto;
    padding: 1em 2em;
    justify-self: center;
}

.kontenadd {
    display:grid;
    grid-template-columns:46% 8% auto;
    padding: 0em 1em;
    justify-self: center;
}

footer {
    background:#68B4EE;
}