<p-toolbar>
    <div style="padding-top: 5px; padding-bottom: 5px; text-align-last: center;">
        <img style="width: 150px;" src="assets/lwcn-logo.png" [routerLink]="''">
    </div>
</p-toolbar>

<body style="background-image: url('assets/homep.jpg'); background-size: cover;">
    <p-toast [style]="{marginTop: '100px', marginRight: '300px'}" position="top-center" key="error"></p-toast>
    <p-toast [style]="{marginTop: '100px', marginRight: '300px'}" position="top-center" key="success"></p-toast>
    <div class="dasbortabmenu">
        <div id="content"></div>
        <p-tabMenu [model]="tabMenu">
        </p-tabMenu>
        <div></div>
    </div>
    <div class="dasbor">
        <div id="content"></div>
        <p-card>
            <div style="background-color: white; opacity: 95%;">
                <div style="margin-left: 5%; margin-right: 5%; padding-top: 2em;">
                    <div class="kontenform">
                        <div>
                            <span class="ui-float-label">
                                <input [(ngModel)]="register.firstName" id="inputFirstName" type="text" size="35" pInputText>
                                <label for="firstName">First Name</label>
                            </span>
                        </div>
                        <div style="justify-content: right;">
                            <span class="ui-float-label">
                                <input [(ngModel)]="register.lastName" id="inputLastName" type="text" size="35" pInputText>
                                <label for="lastName">Last Name</label>
                            </span>
                        </div>
                    </div>
                    <div class="kontenform">
                        <div>
                            <span class="ui-float-label">
                                <input [(ngModel)]="register.email" id="inputEmail" type="text" size="35" pInputText>
                                <label for="email">Email</label>
                            </span>
                        </div>
                        <div style="justify-content: right;">
                            <span class="ui-float-label">
                                <input [(ngModel)]="register.phone" id="inputPhone" type="text" size="35" pInputText>
                                <label for="phone">Phone Number</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 25%; margin-right: 25%; width: 50%; padding-bottom: 2em;">
                    <button style="width: 48%;" pButton type="button" label="Register" icon="pi pi-user-plus" (click)="reg()" class="ui-button-success"></button>&nbsp;
                    <button style="width: 48%;" pButton type="button" [routerLink]="''" label="Back to Home" icon="pi pi-home"></button>
                </div>
            </div>
        </p-card>
        <div></div>
    </div>
</body>
<footer>
    <label>Copyright by : Group 4 - Bootcamp Programmer</label>
</footer>