<p-toolbar>
    <div style="padding-top: 5px; padding-bottom: 5px; text-align-last: center;">
        <img style="width: 150px;" src="assets/lwcn-logo.png" [routerLink]="''">
    </div>
</p-toolbar>

<body style="background-image: url('assets/homep.jpg'); background-size: cover;">
    <p-toast [style]="{marginTop: '100px', marginLeft: '227px'}" position="top-center" key="tc"></p-toast>
    <div class="kontainer">
        <div id="content"></div>
        <div style="padding-top: 10em; text-align-last: center;">
            <div style="background-color: white; opacity: 85%; padding-top: 1em; padding-bottom: 1.5em; margin-left: 3em; margin-right: 3em;">
                <h1><strong>Linov Job Poster</strong></h1>
                <h4>Welcome to Linov Job Poster</h4>
                <h4>Your dreams is just begin from here</h4>
                <button type="button" [routerLink]="'applicant/search-job'" pButton label="Search Job" icon=" pi pi-search"></button>
            </div>
        </div>
        <div></div>
        <div style="padding-top: 7em; padding-bottom: 8em; opacity: 95%;">
            <div id="content"></div>
            <div style="background-color: white;">
                <div  class="kontenlogin">
                    <div><br>
                        <span class="ui-float-label">
                            <input [(ngModel)]="user.username" id="username" type="text" size="35" pInputText> 
                            <label for="username">Email</label>
                        </span><br>
                        <span class="ui-float-label">
                            <input [(ngModel)]="user.password" id="password" type="password" size="35" pInputText>
                            <label for="password">Password</label>
                        </span>
                    </div>
                </div>
                <div style="margin-left: 2em; margin-right: 2em; padding-bottom: 15px;">
                    <button icon="pi pi-key" style="margin-left: 25%; width: 50%;" type="button" (click)="login()" pButton label="Log-in"></button>
                </div>
                <div style="margin-left: 3em; margin-right: 3em; border-bottom: grey solid 1px; opacity: 50%;"></div>
                <div style="margin-left: 11%; margin-right: 3%; width: 100%; padding-bottom: 2em; padding-top: 15px;">
                    <label>Don't have an account yet? </label>&nbsp;
                    <button type="button" [routerLink]="'/sign-up'" pButton label="Sign-up" icon=" pi pi-user-plus" class="ui-button-success"></button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer style="text-align-last: center;">
    <label>Copyright by : Group 4 - Bootcamp Programmer</label>
</footer>