<!-- warna toolbar atas #68B4EE
warna body tengah #E9FCFF
warna button #ADD5F3 -->
<p-toolbar>
    <div class="ui-toolbar-group-left" style="padding-top: 5px; padding-bottom: 5px;">
        <img style="width: 150px;" src="assets/lwcn-logo.png">
    </div>
    <div class="ui-toolbar-group-right" style="padding-top: 5px;">
        <button pButton type="button" label="Search Jobs" icon="pi pi-search" [routerLink]="'/applicant/search-job'"></button>&nbsp;
        <button pButton type="button" label="My Profile" icon="pi pi-user" (click)="sidebarProfileActive()"></button>&nbsp;
    </div>
</p-toolbar>
<body>
    <div class="kontainer">
        <div id="content">
            <!-- <p-menu [model]="items"></p-menu> -->
        </div>
        <div>
            <p-toolbar>
                <div class="dasbor">
                    <div class="ui-toolbar-group-left" id="content">
                        <div>
                            <img style="align-items: center; width: 100px;" src="assets/logo-orang.jpg">
                        </div>
                        <div style="margin-left: 13px;">
                            <button pButton type="button" icon="pi pi-refresh"></button>&nbsp;
                            <button pButton type="button" (click)="showDialogDeletePhoto()" icon="pi pi-trash" class="ui-button-danger"></button>
                        </div>
                    </div>
                    <div>
                        <h3><strong>Miftah Faisal Hamdani</strong></h3>
                        <p>Universitas Muhammadiyah Malang</p>
                        <p>Bachelor's, Informatics Engineering</p>
                        <label><i class="pi pi-mobile"></i> 085204942694</label>&nbsp;|&nbsp;
                        <label><i class="pi pi-envelope"></i> faisalexcellent59@gmail.com</label>&nbsp;|&nbsp;
                        <label><i class="pi pi-money-bill"></i> 3.000.000</label>
                    </div>
                    <div style="justify-self: right;">
                        <button (click)="editProfile()" pButton type="button" label="Edit Profile" icon="pi pi-cog"></button>
                    </div>
                </div>
            </p-toolbar>
            <p-toolbar>
                <div class="konten">
                    <div>
                        <h3>Education</h3>
                        <p>Universitas Muhammadiyah Malang</p>
                        <p>Bachelor's Degree in Informatics Engineering on August 2018</p>
                    </div>
                </div>
            </p-toolbar>
            <p-toolbar>
                <div class="konten">
                    <div>
                        <h3>Work Experience</h3>
                        <p>PT. Lawencon International</p>
                        <p>Bootcamp Programmer - November 2019 till now</p>
                    </div>
                </div>
            </p-toolbar>
            <p-toolbar>
                <div class="konten">
                    <div>
                        <h3>Skill</h3>
                        <p>Microsoft Office</p>
                        <p>Java Springboot</p>
                        <p>Angular PrimeNG</p>
                        <p>Adobe XD</p>
                    </div>
                </div>
            </p-toolbar>
            <p-toolbar>
                <div class="konten">
                    <div>
                        <h3>Address</h3>
                        <p>Jl. Cermee, Dusun Tengah RT02/RW04, Kapongan Tengah, Kabupaten Situbondo, Jawa Timur</p>
                    </div>
                </div>
            </p-toolbar>
        </div>
    </div>
</body>

<p-dialog header="Delete" [(visible)]="displayDeletePhoto">
    <div>
        <h4>Are you sure?</h4>
    </div>
    <div>
        <button type="button" (click)="cancelDialog()" pButton label="Cancel"></button>&nbsp;
        <button type="button" (click)="ininantidiganti()" pButton label="Delete" class="ui-button-danger"></button>
    </div>
</p-dialog>
<p-sidebar [(visible)]="sidebarProfile" position="right" [baseZIndex]="10000">
    <div style="justify-self: center;">
        <h1><strong><i class="pi pi-user"></i>My Profile</strong></h1>
        <button style="width: 100%;" pButton type="button" [routerLink]="'/applicant/myprofile'" label="Profile" class="ui-button-secondary" icon="pi pi-user"></button><br>
        <button style="width: 100%;" pButton type="button" [routerLink]="'/applicant/education'" label="Education" class="ui-button-secondary" icon="pi pi-tag"></button><br>
        <button style="width: 100%;" pButton type="button" [routerLink]="'/applicant/work-experience'" label="Work Experience" class="ui-button-secondary" icon="pi pi-briefcase"></button><br>
        <button style="width: 100%;" pButton type="button" [routerLink]="'/applicant/skill'" label="Skill" class="ui-button-secondary" icon="pi pi-user-plus"></button><br>
        <button style="width: 100%;" pButton type="button" [routerLink]="'/applicant/application-list'" label="Application List" class="ui-button-secondary" icon="pi pi-list"></button><br>
        <button style="width: 100%;" pButton type="button" [routerLink]="'/applicant/resume'" label="Resume" class="ui-button-secondary" icon="pi pi-file"></button><br>
        <button style="width: 100%;" pButton type="button" label="Log-out" icon="pi pi-sign-out" class="ui-button-danger" (click)="logOut()"></button>
    </div>
</p-sidebar>