<p-toolbar>
    <div class="ui-toolbar-group-left" style="padding-top: 5px; padding-bottom: 5px;">
        <img style="width: 150px;" src="assets/lwcn-logo.png">
    </div>
    <div class="ui-toolbar-group-right" style="padding-top: 5px;">
        <button pButton type="button" label="Search Jobs" icon="pi pi-search" [routerLink]="'/applicant/search-job'"></button>&nbsp;
    </div>
</p-toolbar>
<body>
    <div class="kontainer">
        <div id="content"></div>
        <div>
            <p-card>
                <div class="konten">
                    <div>
                        <legend><strong>Work Experience</strong></legend>
                    </div>
                    <div>
                        <label style="padding-top: 13px; padding-left: 3em;">(Please add your work experience)</label>
                    </div>
                    <div style="justify-self: right;">
                        <button [routerLink]="'/applicant/myprofile'" pButton type="button" icon="pi pi-arrow-left" class="ui-button-success"></button>&nbsp;
                        <button (click)="showDialogAddWorkExperience()" pButton type="button" icon="pi pi-plus" class="ui-button-secondary"></button>
                    </div>
                </div>
                <div *ngFor="let aplwe of aplWE;" class="kontentengah">
                    <div>
                        <legend>{{aplwe.company}}</legend>
                        <p>{{aplwe.jobTittle}} - {{aplwe.startDate | date: 'MMM/yyyy'}} until {{aplwe.endDate | date: 'MMM/yyyy'}}</p>
                    </div>
                    <div style="justify-self: right;">
                        <button (click)="showDialogEditWorkExp(aplwe.id)" pButton type="button" icon="pi pi-pencil"></button>&nbsp;
                        <button (click)="showDialogDeleteWorkExp(aplwe.id)" pButton type="button" icon="pi pi-trash" class="ui-button-danger"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</body>

<!-- pop-up untuk menambahkan work experience -->
<p-dialog header="Add Work Experience" [(visible)]="displayAddWorkExperience" [modal]="true" [dismissableMask]="true">
    <p-toast position="top-center" key="sc"></p-toast>
    <p-toast position="top-center" key="wr"></p-toast>
    <div class="kontenadd">
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplWEModel.company" id="company" type="text" size="44" pInputText>
                <label>Company</label>
            </span><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplWEModel.description" id="description" type="text" size="44" pInputText>
                <label>Description</label>
            </span><br>
            <p-dropdown [options]="jobCat" [(ngModel)]="aplWEModel.jobCategory" placeholder="- Choose Your Job Category -" optionLabel="jobCategoryName" size="30"></p-dropdown><br>
            <label style="text-align-last: center;">Start Date</label><br>
            <p-calendar [(ngModel)]="aplWEModel.startDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" [inline]="true" [showIcon]="true"></p-calendar>
        </div>
        <div></div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplWEModel.jobTittle" id="jobTitle" type="text" size="44" pInputText>
                <label>Job Title</label>
            </span><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplWEModel.salary" id="salary" type="number" size="44" pInputText>
                <label>Salary</label>
            </span><br>
            <p-dropdown [options]="jobLevel" [(ngModel)]="aplWEModel.jobLevel" placeholder="- Choose Your Job Level -" optionLabel="jobLevelName" size="30"></p-dropdown><br>
            <label style="text-align-last: center;">End Date</label><br>
            <p-calendar [(ngModel)]="aplWEModel.endDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" [inline]="true" [showIcon]="true"></p-calendar>
        </div>
    </div>
    <div style="margin-left: 25%; margin-right: 25%; width: 50%;"><br>
        <button style="width: 47%;" type="button" (click)="addWorkExperience()" pButton label="Submit" class="ui-button-success"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="cancelDialog()" pButton label="Cancel" class="ui-button-danger"></button>
    </div>
</p-dialog>

<!-- pop-up untuk edit work experience -->
<p-dialog header="Add Work Experience" [(visible)]="displayEditWorkExp" [modal]="true" [dismissableMask]="true">
    <p-toast position="top-center" key="sc"></p-toast>
    <p-toast position="top-center" key="wr"></p-toast>
    <div *ngIf="aplworkexpedit" class="kontenadd">
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplworkexpedit.company" id="company" type="text" size="44" pInputText>
                <label>Company</label>
            </span><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplworkexpedit.description" id="description" type="text" size="44" pInputText>
                <label>Description</label>
            </span><br>
            <p-dropdown [options]="jobCat" [(ngModel)]="aplworkexpedit.jobCategory" placeholder="- Choose Your Job Category -" optionLabel="jobCategoryName" size="30"></p-dropdown><br>
            <label style="text-align-last: center;">Start Date</label><br>
            <input  type="date" [(ngModel)]="aplworkexpedit.startDate" name="startDate" size="35" pInputText>
            <!-- <span>{{aplworkexpedit.startDate|json}}</span> -->
        </div>
        <div></div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplworkexpedit.jobTittle" id="jobTitle" type="text" size="44" pInputText>
                <label>Job Title</label>
            </span><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplworkexpedit.salary" id="salary" type="number" size="44" pInputText>
                <label>Salary</label>
            </span><br>
            <p-dropdown [options]="jobLevel" [(ngModel)]="aplworkexpedit.jobLevel" placeholder="- Choose Your Job Level -" optionLabel="jobLevelName" size="30"></p-dropdown><br>
            <label style="text-align-last: center;">End Date</label><br>
            <input  type="date" [(ngModel)]="aplworkexpedit.endDate" name="startDate" size="35" pInputText>
            <!-- <span>{{aplworkexpedit.endDate|json}}</span> -->
        </div>
    </div>
    <div style="margin-left: 25%; margin-right: 25%; width: 50%;"><br>
        <button style="width: 47%;" type="button" (click)="editWorkExperience()" pButton label="Update" class="ui-button-success"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="cancelDialogEdit()" pButton label="Cancel" class="ui-button-danger"></button>
    </div>
</p-dialog>

<!-- pop up delete work experience -->
<p-dialog header="Delete Work Experience" [(visible)]="displayDeleteWorkExp" [modal]="true" [dismissableMask]="true">
    <p-toast position="top-center" key="sc"></p-toast>
    <div>
        <p>Are you sure want to delete work experience?</p>
    </div>
    <div style="margin-left: 15%; margin-right: 15%; width: 70%;"><br>
        <button style="width: 47%;" type="button" (click)="cancelDialogDelete()" pButton label="Cancel" class="ui-button-secondary"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="deleteWorkExperience()" pButton label="Delete" class="ui-button-danger"></button>
    </div>
</p-dialog>