<p-toolbar>
    <div class="ui-toolbar-group-left" style="padding-top: 5px; padding-bottom: 5px;">
        <img style="width: 150px;" src="assets/lwcn-logo.png">
    </div>
    <div class="ui-toolbar-group-right" style="padding-top: 5px;">
        <button pButton type="button" label="Search Jobs" icon="pi pi-search" [routerLink]="'/applicant/search-job'"></button>&nbsp;
        <!-- <button pButton type="button" label="My Profile" icon="pi pi-user" (click)="sidebarProfileActive()"></button>&nbsp; -->
    </div>
</p-toolbar>
<body>
    <div class="kontainer">
        <div id="content"></div>
        <div>
            <p-card>
                <div class="konten">
                    <div>
                        <legend><strong>Project</strong></legend>
                    </div>
                    <div>
                        <label style="padding-top: 13px; padding-left: 3em;">(Please add your project)</label>
                    </div>
                    <div style="justify-self: right;">
                        <button [routerLink]="'/applicant/myprofile'" pButton type="button" icon="pi pi-arrow-left" class="ui-button-success"></button>&nbsp;
                        <button (click)="showDialogAddProject()" pButton type="button" icon="pi pi-plus" class="ui-button-secondary"></button>
                    </div>
                </div>
                <div *ngFor="let aplproj of aplProjectList;" class="kontentengah">
                    <div>
                        <legend>{{aplproj.projectName}}</legend>
                        <p>As <strong>{{aplproj.role}}</strong> from {{aplproj.startDate | date: 'dd/MMM/yyyy'}} until {{aplproj.endDate | date: 'dd/MMM/yyyy'}}</p>
                    </div>
                    <div style="justify-self: right;">
                        <button (click)="showDialogEditProject(aplproj.id)" pButton type="button" icon="pi pi-pencil"></button>&nbsp;
                        <button (click)="showDialogDeleteProject(aplproj.id)" pButton type="button" icon="pi pi-trash" class="ui-button-danger"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</body>

<!-- pup-up untuk menambahkan project -->
<p-dialog header="Add Project" [(visible)]="displayAddProject" [modal]="true" [dismissableMask]="true">
    <p-toast position="top-center" key="sc"></p-toast>
    <p-toast position="top-center" key="wr"></p-toast>
    <div class="kontenadd">
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplProjectModel.projectName" id="projectName" type="text" size="35" pInputText>
                <label for="projectName">Project Name</label>
            </span><br>
        </div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplProjectModel.role" id="role" type="text" size="35" pInputText>
                <label for="role">Role</label>
            </span><br>
        </div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplProjectModel.link" id="link" type="text" size="35" pInputText>
                <label for="link">Link (Optional)</label>
            </span><br>
        </div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplProjectModel.description" id="description" size="35" autoResize="autoResize" pInputText>
                <label for="description">Description</label>
            </span><br>
        </div>
        <div style="margin-right: 0.5em;">
            <p>Start Date</p>
            <p-calendar [(ngModel)]="aplProjectModel.startDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" [inline]="true" [showIcon]="true"></p-calendar>
        </div>
        <div style="margin-left: 0.5em;">
            <p>End Date</p>
            <p-calendar [(ngModel)]="aplProjectModel.endDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" [inline]="true" [showIcon]="true"></p-calendar>
        </div>
    </div>
    <div style="margin-left: 25%; margin-right: 25%; width: 50%;"><br>
        <button style="width: 47%;" type="button" (click)="addProject()" pButton label="Submit" class="ui-button-success"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="cancelDialogAdd()" pButton label="Cancel" class="ui-button-danger"></button>
    </div>
</p-dialog>

<!-- pup-up untuk mengedit project -->
<p-dialog header="Edit Project" [(visible)]="displayEditProject" [modal]="true" [dismissableMask]="true">
    <p-toast position="top-center" key="sc"></p-toast>
    <p-toast position="top-center" key="wr"></p-toast>
    <div *ngIf="aplprojectedit" class="kontenadd">
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplprojectedit.projectName" id="projectName" type="text" size="28" pInputText>
                <label for="school">Project Name</label>
            </span><br>
        </div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplprojectedit.role" id="role" type="text" size="30" pInputText>
                <label for="float-input">Role</label>
            </span><br>
        </div>
        <div><br>
            <span class="ui-float-label">
                <input [(ngModel)]="aplprojectedit.link" id="link" type="text" size="28" pInputText>
                <label for="float-input">Link (Optional)</label>
            </span><br>
        </div>
        <div><br>
            <span class="ui-float-label">
                <textarea [(ngModel)]="aplprojectedit.description" id="description" [rows]="3" [cols]="31" autoResize="autoResize" pInputTextarea></textarea>
                <label for="float-input">Description</label>
            </span><br>
        </div>
        <div style="margin-right: 0.5em;">
            <p>Start Date</p>
            <input  type="date" [(ngModel)]="aplprojectedit.startDate" name="startDate" size="30" pInputText>
            <!-- <span>{{aplprojectedit.startDate|json}}</span> -->
        </div>
        <div style="margin-left: 0.5em;">
            <p>End Date</p>
            <input  type="date" [(ngModel)]="aplprojectedit.endDate" name="startDate" size="30" pInputText>
            <!-- <span>{{aplprojectedit.endDate|json}}</span> -->
        </div>
    </div>
    <div style="margin-left: 25%; margin-right: 25%; width: 50%;"><br>
        <button style="width: 47%;" type="button" (click)="addProject()" pButton label="Submit" class="ui-button-success"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="cancelDialogEdit()" pButton label="Cancel" class="ui-button-danger"></button>
    </div>
</p-dialog>

<!-- pop up delete projct -->
<p-dialog header="Delete Project" [(visible)]="displayDeleteProject" [modal]="true" [dismissableMask]="true">
    <p-toast position="top-center" key="sc"></p-toast>
    <div>
        <p>Are you sure want to delete project?</p>
    </div>
    <div style="margin-left: 15%; margin-right: 15%; width: 70%;"><br>
        <button style="width: 47%;" type="button" (click)="cancelDialogDelete()" pButton label="Cancel" class="ui-button-secondary"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="deleteProject()" pButton label="Delete" class="ui-button-danger"></button>
    </div>
</p-dialog>