body {
    /* background:#E9FCFF; */
    margin:0;
    grid-template-columns: auto;
    grid-template-rows: auto 60% 40%;
}

a {
    text-decoration:none;
    color:#E9FCFF;
    font-size:1.8em;
    font-weight:700;
}

header {
    background:#68B4EE;
    padding: 1em;
}

.kontainer {
    display:grid;
    grid-template-columns: 15% 70% auto;
    padding: 2em 1em;
}

.dasbor {
    display:grid;
    grid-template-columns: 15% 70% auto;
    padding: 1em 2em;
    justify-self: center;
}

.konten {
    display:grid;
    grid-template-columns: auto;
    padding: 1em 1em;
    justify-self: center;
}

.kontenfoto {
    display:grid;
    grid-template-columns: auto;
    padding: 1em 1em;
    justify-self: center;
    margin-left: 25%;
    margin-right: 25%;
}

.kontenhead {
    display:grid;
    grid-template-columns: 50% 25% auto;
}

.kontenbody {
    display:grid;
    grid-template-columns: 15% 5% auto;
    padding: 1em 1em;
}

.kontenjob {
    display:grid;
    grid-template-columns: 25% 5% 15% 15% 25% auto;
    padding: 0em 1em;
    justify-self: center;
}

.kontenfoot {
    display:grid;
    grid-template-columns: 80% auto;
    padding: 0em 0em;
}

.kontenlogin {
    display:grid;
    grid-template-columns:46% 4% 48% auto;
    padding: 0em 1em;
    justify-self: center;
}

footer {
    background:#68B4EE;
}