<p-toolbar>
    <div class="ui-toolbar-group-left" style="padding-top: 5px; padding-bottom: 5px;">
        <img style="width: 150px;" src="assets/lwcn-logo.png">
    </div>
    <div class="ui-toolbar-group-right" style="padding-top: 5px;">
        <button pButton type="button" label="My Account" (click)="sidebarAccountActive()" icon="pi pi-user"></button>&nbsp;
    </div>
</p-toolbar>
<body style="background-color: #f1f9f9;">
    <p-toast [style]="{marginTop: '100px', marginRight: '300px'}" position="top-center" key="error"></p-toast>
    <p-toast position="center" key="success" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000" [showTransitionOptions]="'1ms'" [hideTransitionOptions]="'1ms'">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-check" style="font-size: 3em"></i>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <button type="button" pButton (click)="onConfirm()" label="Ok" class="ui-button-success"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>
    <div class="kontainer">
        <div></div>
        <div *ngIf="user" style="padding-left: 3em;">
            <h1><strong>Hello {{user.firstName}} {{user.lastName}}!</strong></h1>
            <legend>Welcome to Linov Jobposter 1.0</legend>
        </div>
        <div></div>
        <div></div>
        <p-scrollPanel [style]="{width: '100%', height: '409px'}">
            <p-card>
                <div class="kontainerjob">
                    <div class="kontenhead">
                        <div>
                            <legend><strong>List of Posted Jobs</strong></legend>
                        </div>
                        <div style="text-align-last: right;">
                            <button type="button" (click)="showDialogNewJobPost()" pButton icon="pi pi-plus" label="Add New Job Post" ></button>
                        </div>
                    </div>
                    <div *ngFor = "let jp of jobPosting;" style="padding-bottom: 10px;">
                        <div style="background-color: white; border: gainsboro solid 1px; padding-bottom: 10px;">
                            <div class="kontenjob">
                                <div style="padding-top: 15px;">
                                    <p><strong>{{jp.jobTitleName}}</strong></p>
                                </div>
                                <div></div>
                                <div style="text-align-last: center; padding-top: 15px;">
                                    <p><i class="pi pi-money-bill" style="color: black;"></i> {{jp.salary | currency: 'Rp '}}</p>
                                </div>
                                <div style="text-align-last: center; padding-top: 15px;">
                                    <p><i class="pi pi-map-marker"></i> {{jp.city.cityName}}</p>
                                </div>
                                <div style="text-align-last: center; padding-top: 15px;">
                                    <p><i class="pi pi-calendar"></i> {{jp.startDate | date: 'dd/MMM/yy'}} - {{jp.endDate | date: 'dd/MMM/yy'}}</p>
                                </div>
                                <div *ngIf="jp.activeState == true; else notJobStatus" style="text-align-last: center; padding-top: 15px;">
                                </div>
                                <ng-template #notJobStatus>
                                    <div style="text-align-last: center; padding-top: 15px;">
                                        <p style="color: red;"><strong>Closed</strong></p>
                                    </div>
                                </ng-template>
                                <div  style="text-align-last: right; padding-top: 9px;">
                                    <button type="button" (click)="detailJob(jp.id)" pButton label="Detail"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </p-scrollPanel>
    </div>
</body>
<footer style="background-color: #68B4EE; text-align-last: center;">
    <label>Copyright by : Group 4 - Bootcamp Programmer</label>
</footer>

<!-- pop-up untuk membuat job posting baru -->
<p-dialog header="Add New Job Post" [(visible)]="displayNewJobPost" [style]="{width: '70%'}" [modal]="true">
    <div class="kontenaddjob">
        <div style="padding-right: 1em;">
            <div class="kontenaddjob">
                <div><br>
                    <span class="ui-float-label">
                        <input [(ngModel)]="jobPost.jobTitleName" id="jobTitle" type="text" size="35" pInputText> 
                        <label>Job Title</label>
                    </span><br>
                    <span class="ui-float-label">
                        <input [(ngModel)]="jobPost.company" id="company" type="text" size="35" pInputText> 
                        <label>Company</label>
                    </span><br>
                    <textarea [(ngModel)]="jobPost.address" rows="2" cols="35" pInputTextarea autoResize="autoResize" placeholder="Company Address"></textarea>
                </div>
                <div>
                    <p>Province</p>
                    <p-dropdown id="province" [options]="province" [(ngModel)]="provinceModel" placeholder="- Select Province -" optionLabel="provinceName"></p-dropdown><br>
                    <p>City</p>
                    <p-dropdown id="city" [options]="city" [(ngModel)]="cityModel" placeholder="- Select City -" optionLabel="cityName"></p-dropdown><br>
                    <p>Job Position</p>
                    <p-dropdown id="jobPosition" [options]="jobPosition" [(ngModel)]="jobPositionModel" placeholder="- Select Job Position -" optionLabel="jobPositionName"></p-dropdown>
                </div>    
            </div><br>
            <p-scrollPanel [style]="{height: '250px'}">
                <div class="kontenjobdesreq1">
                    <div class="kontenjobdesreq2">
                        <div>
                            <span class="ui-float-label">
                                <input [(ngModel)]="jobDesInput" id="jobDes" type="text" size="45" pInputText> 
                                <label>Input Job Description</label>
                            </span>
                        </div>
                        <div style="justify-self: right;">
                            <button type="button" (click)="addJobDes()" pButton icon="pi pi-plus"></button>&nbsp;
                            <button type="button" (click)="dropJobDes()" pButton icon="pi pi-minus" class="ui-button-danger"></button>
                        </div>
                    </div>
                    <div id="ResultJobDes" style="padding: 0em 1em;">
                    </div>
                </div><br>
                <div class="kontenjobdesreq1">
                    <div class="kontenjobdesreq2">
                        <div>
                            <span class="ui-float-label">
                                <input [(ngModel)]="jobReqInput" id="jobReq" type="text" size="45" pInputText> 
                                <label>Input Job Requirement</label>
                            </span>
                        </div>
                        <div style="justify-self: right;">
                            <button type="button" (click)="addJobReq()" pButton icon="pi pi-plus"></button>&nbsp;
                            <button type="button" (click)="dropJobReq()" pButton icon="pi pi-minus" class="ui-button-danger"></button>
                        </div>
                    </div>
                    <div id="ResultJobReq" style="padding: 0em 1em;">
                    </div>
                </div><br>
                <div class="kontenjobdesreq1">
                    <div class="kontenjobdesreq2">
                        <div>
                            <span class="ui-float-label">
                                <input [(ngModel)]="jobBenInput" id="jobBen" type="text" size="45" pInputText> 
                                <label>Input Job Benefit</label>
                            </span>
                        </div>
                        <div style="justify-self: right;">
                            <button type="button" (click)="addJobBen()" pButton icon="pi pi-plus"></button>&nbsp;
                            <button type="button" (click)="dropJobBen()" pButton icon="pi pi-minus" class="ui-button-danger"></button>
                        </div>
                    </div>
                    <div id="ResultJobBen" style="padding: 0em 1em;">
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div style="padding-left: 1em;">
            <p>Close Date</p>
            <p-calendar [(ngModel)]="jobPost.endDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2030" [inline]="true" [showIcon]="true"></p-calendar>
            <br><br>
            <div class="kontenjobdesreq3">
                <div>
                    <span class="ui-float-label">
                        <input [(ngModel)]="jobPost.salary" id="salary" type="number" pInputText> 
                        <label>Salary</label>
                    </span>
                </div>
                <div>
                    <span class="ui-float-label">
                        <input [(ngModel)]="jobPost.quota" id="quota" type="number" size="45" pInputText> 
                        <label>Job Quota</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align-last: right;"><br>
        <button type="button" (click)="cancelDialogNewJobPost()" pButton label="Cancel" class="ui-button-secondary"></button>&nbsp;
        <button type="button" (click)="addNewJobPost()" pButton label="Post" class="ui-button-success"></button>
    </div>
</p-dialog>

<!-- pop-up untuk mengubah password -->
<p-dialog header="Change Password" [(visible)]="displayChangePassword" [modal]="true">
    <div><br>
        <span class="ui-float-label">
            <input [(ngModel)]="passwordPojo.oldPas" id="currentPassword" type="password" size="30" pInputText> 
            <label for="currentPassword">Current Password</label>
        </span><br>
        <span class="ui-float-label">
            <input [(ngModel)]="passwordPojo.newPas" id="newPassword" type="password" size="30" pInputText> 
            <label for="newPassword">New Password</label>
        </span><br>
    </div>
    <div style="width: 80%; margin-left: 10%; margin-right: 10%;">
        <button style="width: 47%;" type="button" (click)="cancelDialogChangePassword()" pButton label="Cancel" class="ui-button-secondary"></button>&nbsp;
        <button style="width: 47%;" type="button" (click)="changePassword()" pButton label="Change"></button>
    </div>
</p-dialog>

<p-dialog header="Download Report" [(visible)]="displayDownloadReport">
    <div>
        <div>
            <label>
                *Note : If you want to download all job, don't fill the year.
            </label>
        </div>
        <div>
            <span class="ui-float-label" style="text-align-last: center;">
                <input [(ngModel)]="year" id="quota" type="number" size="45" pInputText> 
                <label>Year (Optional)</label>
            </span><br>
        </div>
        <div style="text-align-last: center;">
            <button type="button" (click)="downloadReport()" pButton label="Download" class="ui-button-success" icon="pi pi-download"></button>
        </div>
    </div>
</p-dialog>

<!-- pop-up sidebar Account -->
<p-sidebar [(visible)]="sidebarAccount" position="right" [baseZIndex]="10000">
    <div style="justify-self: center;">
        <div style="margin-bottom: 100%;">
            <h2 style="text-align-last: center;"><strong>My Account</strong></h2>
            <button style="width: 100%;" pButton type="button" [routerLink]="'/recruiter/job-posting'" label="Job Posting List" class="ui-button-secondary" icon="pi pi-list"></button><br>
            <button style="width: 100%;" pButton type="button" (click)="showDialogDownloadReport()" label="Download Report" class="ui-button-secondary" icon="pi pi-file"></button><br>
            <button style="width: 100%;" pButton type="button" (click)="showDialogChangePassword()" label="Change Password" class="ui-button-secondary" icon="pi pi-key"></button>
        </div>
        <div>
            <button style="width: 100%;" pButton type="button" label="Log-out" icon="pi pi-sign-out" class="ui-button-danger" (click)="logOut()"></button>
        </div>
    </div>
</p-sidebar>